<style>
body{
	padding-top: 80px;
	}
.Logo{

  width: 80px;
}

footer{
  width: 100%;
  background: #202020;
  color: white;
  padding: 20px;

}

#Encabezado a{

color: black;
font-family: sans-serif;

}

#Encabezado .active a{

color: #FD5308;
}

#Encabezado{

background-color:#ffff;
}

#Encabezado a:hover {
color: #FD5308;
cursor: pointer;
}
#Desplegable{
 
  background-color: black;
}
#Desplegable a{
  
  color:#f1eeec;
}
#Desplegable a:hover{
  
color:#FD5308;
background-color: black;
}
footer{

margin-top:50px;
}
.Events{

text-align: center;
}
footer{

background-color: #002858;

}
footer li{

color: white;
}
footer nav{

  background-color:#002858;
}

footer nav a i{

color: #FD5308;
}
.cajaEventos{

  background-color: #F1F1F1;
  
}
.cajaEvento1{
  
 padding-top:20px ;
 background-color: #F1F1F1;
  
  
 }
 .cajaEventos div{
  
    padding-top:20px;
}
.cajaEvento1 div{
  
   padding-top:20px;
}  
footer{
    padding-right: 0;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="footer">
        <div class= "container">
            <nav class="foter row">
                <a href="#" class="col-0 text-reset text-uppercase d-flex align-items-center"></a>
                <div class="col-6 ">
                    <ul class="list-unstyled">
                        <li class="font-weight-bold text-uppercase"><small>Dirección</small></li>
                        <li><h6> Av. 9 de Octubre N°1178 y Sta. María.</h6> </li>
                        <li class="font-weight-bold text-uppercase"><small>Telefono</small></li>
                        <li><h6> 5983878452</h6> </li>
                    </ul>
                </div>
                
                <div class="col-6 ">
                    <ul class="list-unstyled">
                        <li class="font-weight-bold text-uppercase"><small>Siguenos en </small></li>
                        <li class="d-flex justify-content-between" >
                            <a href="https://m.facebook.com/unibe.edu.ec/?locale2=es_LA" class="text-reset"target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="https://twitter.com/unibe_ec?lang=es" class="text-reset" target="_blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="https://www.instagram.com/unibe_ec/" class="text-reset" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=Q33ZpN1rlZE/" class="text-reset" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
               
    
            </nav>
    
    
        </div>
        <div class="footer-copyright text-center py-3">© Universidad Iberoamericana del Ecuador 2020</div>
    
    </footer>

<router-outlet></router-outlet>

  
